body{
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    text-align: center;
}

.image {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    background-image: url('My_QR_Code_1-1024.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
h1 {
    margin-top: 550px;
    font-size: 24px;
    margin-right: 100px;
}
p {
    color: #666;
    margin-right: 100px;
}